@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-6Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-2ExtraLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    src : url("../fonts/Rachel\ italic.ttf");
    font-family: "Rachelitalic";
}

a, a:visited {color: #0c0c0c; text-decoration: none;}
#wrap {color: #0c0c0c;}
#page {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
}

.menu {
    position: fixed; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
    padding: 40px;
    z-index: 50;
}
.menu ul.left_menu {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif; 
    font-size: 18px;
}
.menu .bottom_menu {
    display: flex;
    flex-direction: column;
    left: 50px;
    z-index: 100;
}
.menu .bottom_menu ul {
    display: flex;
    justify-content: space-between;
    width: 177px;
    margin-bottom: 20px;
}
.menu .bottom_menu ul:nth-child(2) {
    border-bottom: 1px solid #727272;
}
.menu .bottom_menu ul:last-child {
    margin-bottom: 0;
}
.menu .bottom_menu ul li a{
    font-family: 'S-CoreDream-3Light';
    font-size: 15px;
    color: #727272;
}

#page #nav {
    width: 80%;
    position: fixed;
    left: 16.5%;
    top: 40px;
    z-index: 50;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav .gnb ul li {
    font-family: 'Roboto', sans-serif; 
    font-style: italic; 
    font-weight: 500;
    font-size: 22px;
    cursor: pointer;
}
#nav .gnb ul {
    width: 495px;
    display: flex;
    justify-content: space-between;
}
#nav ul li {
    float: left;
    margin-right: 25px;
}
.menu_bg {
    width: 230px;
    height: 100%;
    position: fixed;
    background: linear-gradient(
        to right, 
    rgba(255, 255, 255, 80%), 
    rgba(255, 255, 255, 0)
    );
    z-index: 40;
}

/* main영역 */
.main .main_con {
    display: flex;
    width: 1450px;
    justify-content: space-between;
    align-items: center;
    margin: 90px 0 0 360px;
}
.main .main_con .txt {
    width: 580px;
    height: 80%;
    display: inline-block;
    margin-top: 150px;
}
.main .main_con .txt  span {
    font-family: "Rachelitalic";
    font-size: 48px;
    color: #d6d3d0;
}
.main .main_con .txt h1 {
    height: 170px;
    font-family: 'S-CoreDream-2ExtraLight';
    font-size: 64px;
    color: #272727;
    line-height: 85px;
    margin-bottom: 25px;
}
.main .main_con a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    border: 2px solid #fef200;
    color: #3e3e3e;
    padding: 15px 0;
    text-align: center;
    display: block;
    width: 150px;
    margin: 0 auto;
}

/* new영역 */
.new {margin-left: 20px;
    display: flex;
    height: 100%;
    align-items: center;
}
.new .new_item {
    height: 640px;
    display: flex;
    flex-direction: column;
    color: #0c0c0c;
    text-align: center;
}
.new .new_item h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 58px;
    font-weight: 500;
    margin-bottom: 36px;
}
.new .new_item ul {
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.new .new_item ul li {
    font-family: 'S-CoreDream-5Medium';
    font-size: 16px;
    margin-bottom: 16px;
}
.new .new_item ul li h2{
    font-family: 'S-CoreDream-3Light';
    font-size: 14px;
    margin: 13px 0 10px;
}
.new .new_item ul li strong {
    font-family: 'S-CoreDream-5Medium';
    font-size: 18px;
    color: #ea004d;
}
.new .new_item ul li span {
    font-family: 'S-CoreDream-5Medium';
    font-size: 15px;
}
.new .new_item ul li em {
    font-family: 'S-CoreDream-3Light';
    font-size: 14px;
    color: #999999;
    text-decoration:line-through;
}
.new .new_item > a {
    margin-top: 22px;
}
/* md 픽 */
.md_pick {
    width: 810px;
    height: 612px;
    margin-left: 110px;
}
.md_pick .bx-wrapper {
    position: relative;
    z-index: 1;
}
.new .md_slider > div h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 65px;
    font-weight: 500;
}
.md_slider > div .md_text {
    position: absolute;
    top: 80px;
    left: 420px;
}
.md_text h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 65px;
    font-weight: 500;
    margin-bottom: 10px;
}
.md_text h2 {
    font-family: 'S-CoreDream-5Medium';
    font-size: 36px;
}
.md_text span a {
    font-family: 'S-CoreDream-3Light';
    font-size: 18px;
    color: #727272;
    line-height: 43px;
}
.new a.bx-prev{
    width: 40px; 
    height: 40px; 
    background: url(../images/md_prev.png) no-repeat; 
}
.new a.bx-next{
    width: 40px; 
    height: 40px; 
    background: url(../images/md_next.png) no-repeat; 
}
.new .bx-controls-direction {
    width: 146px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 260px;
    left: 420px;
    z-index: 100;
}

/* best영역 */
/* 베스트 브랜드 */
.best {
    display: flex;
    align-items: center;
    margin-left: 30px;
}
.brand_line {
    width: 1010px;
    height: 618px;
    position: relative;
    z-index: 10;
}
.brand_line h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 58px;
    font-weight: 500;
    position: absolute;
    right: 52px;
}
.brand_slider > div > p {
    position: absolute;
    top: 98px;
    right: 0;
    width: 530px;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}
.brand_slider > div > p strong {
    font-family: 'S-CoreDream-2ExtraLight';
    font-size: 26px;
    line-height: 40px;
    color: #272727;
}
.brand_slider > div > p em a {
    font-family: 'Roboto', sans-serif;
    display: block;
    margin-top: 13px;
    float: right;
    text-decoration: underline;
    font-size: 16px;
    font-weight: 400;
}
.brand_slider > div > ul > li {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.brand_slider > div > ul > li > ul:last-child > li {
    float: left;
    margin-left: 28px;
}
.brand_slider > div > ul li {
    font-family: 'S-CoreDream-5Medium';
    font-size: 16px;
    margin-bottom: 16px;
}
.brand_slider > div > ul li h2{
    font-family: 'S-CoreDream-3Light';
    font-size: 14px;
    margin: 13px 0 10px;
}
.brand_slider > div > ul li strong {
    font-family: 'S-CoreDream-5Medium';
    font-size: 18px;
    color: #ea004d;
}
.brand_slider > div > ul li span {
    font-family: 'S-CoreDream-5Medium';
    font-size: 15px;
}
.brand_slider > div > ul li em {
    font-family: 'S-CoreDream-3Light';
    font-size: 14px;
    color: #999999;
    text-decoration:line-through;
}
#brand-pager {
    position: absolute;
    top: 80px;
    left: 480px;
    z-index: 50;
}
#brand-pager a {
    font-family: 'Roboto', sans-serif;
    margin-right: 34px;
    color: #9e9e9e;
}
.brand_line #brand-pager > a[class="active"] {
    color: #0c0c0c;
    font-weight: 500;
    background-color: #fef200;
    transition: .3s;
}
/* 베스트셀러 */
.best .best_seller {
    margin-left: 90px;
    height: 640px;
    color: #0c0c0c;
    text-align: center;
}
.best_seller h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 58px;
    font-weight: 500;
    margin-bottom: 40px;
}
.best_seller ul {
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.best_seller ul li {
    font-family: 'S-CoreDream-5Medium';
    font-size: 16px;
    margin-bottom: 16px;
}
.best_seller ul li h2{
    font-family: 'S-CoreDream-3Light';
    font-size: 14px;
    margin: 13px 0 10px;
}
.best_seller ul li strong {
    font-family: 'S-CoreDream-5Medium';
    font-size: 18px;
    color: #ea004d;
}
.best_seller ul li span {
    font-family: 'S-CoreDream-5Medium';
    font-size: 15px;
}
.best_seller ul li em {
    font-family: 'S-CoreDream-3Light';
    font-size: 14px;
    color: #999999;
    text-decoration:line-through;
}

/* info영역 */
.info .info_con {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 140px;
}
.notice {
    width: 1050px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #dcdedb;
    padding-bottom: 20px;
}
.notice h1 {
    font-family: 'S-CoreDream-5Medium';
    font-size: 24px;
}
.notice p a {
    width: 465px;
    display: flex;
    justify-content: space-between;
    font-family: 'S-CoreDream-3Light';
    font-size: 15px;
}
.notice p strong {
    width: 357px;
    text-align: left;
}
.notice > a {
    font-family: 'S-CoreDream-5Medium';
    font-size: 16px;
}

.info .service {
    width: 1050px;
    text-align: center;
}
.info .service ul {
    display: flex;
    flex-wrap: wrap;
}
.info .service ul li {
    width: 524px;
    height: 199px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}
.info .service ul li h1 {
    font-family: 'S-CoreDream-5Medium';
    font-size: 28px;
}
.info .service ul li h1 img {
    vertical-align: middle;
}
.info .service ul li p {
    font-family: 'S-CoreDream-3Light';
    font-size: 14px;
    color: #7e7e7e;
    line-height: 20px;
    margin-top: 10px;
}
.info .service ul li span {
    font-size: 20px;
    margin-left: 10px;
}
.info .serbice_more {
    border-bottom: 1px solid #dcdedb;
    font-family: 'S-CoreDream-5Medium';
    font-size: 18px;
    padding: 24px 0;
}
.info .footer {
    width: 1050px;
    display: flex;
    justify-content: space-between;
    font-family: 'S-CoreDream-2ExtraLight';
    font-size: 14px;
    color: #bebebe;
    line-height: 20px;
    margin-top: 100px;
}
.info .footer p:last-child {
    text-align: right;
}
/* 구분선 */
.info .service ul li:first-child {
    border-bottom: 1px solid #dcdedb;
    border-right: 1px solid #dcdedb;
}
.info .service ul li:nth-child(2) {
    border-bottom: 1px solid #dcdedb;
}
.info .service ul li:nth-child(3) {
    border-bottom: 1px solid #dcdedb;
    border-right: 1px solid #dcdedb;
}
.info .service ul li:last-child {
    border-bottom: 1px solid #dcdedb;
}

#page .slide .main { width: 100%; height: 100%; position: absolute;}
#page .slide .new { width: 100%; height: 100%; position: absolute; left: 100%;}
#page .slide .best { width: 105%; height: 100%; position: absolute; left: 200%;}
#page .slide .info { width: 90%; height: 100%; position: absolute; left: 300%;}